<div class="page-header">
<h1>Purchases</h1>
</div>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Store</th>
      <th>Product</th>
      <th>Date</th>      
      <th>Total</th>
      <th>Status</th>      
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @purchases.each do |purchase| %>
    <tr>
      <td class="nowrap">
       
      </td>
      <td class="nowrap"></td>
      <td><%= purchase.user_id %></td>
      <td class="nowrap"><%= purchase.created_at.strftime("%d %b %Y") %></td>
      <td><%= humanized_money_with_symbol purchase.total %></td>
      <td><%= purchase.retailer_status %></td>
      <td class="nowrap">
        <%= link_to 'View', edit_admin_purchase_path(purchase),
          :class => "btn btn-info btn-small" %>
        <%= link_to 'Delete', admin_purchase_path(purchase),
          :confirm => 'Are you 100% positive that you want to delete this purchase FOREVER?', 
          :method => :delete,
          :class => "btn btn-danger btn-small" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @purchases %>

