<% if @message %>
<div class="alert alert-success">
 <%= @message %>
</div>
<% end %>


<div class="page-header">
  <h1>Edit Page</h1>
</div>

<h3>
  /<%= @page.slug %>
</h3>

<%
  if @page.id
    form_url = admin_page_url(@page)
  else
    form_url = url_for(:action => "create")
  end
%>
<%= form_for(@page, 
             :html => {:class => "form-horizontal well"},
             :url => form_url)  do |f| %>

        <fieldset>

          <% unless @page.id %>
          <div class="control-group">
            <label class="control-label" for="sale_store_name">Slug</label>
            <div class="controls">
              <%= text_field(:page, :slug, :class => "input-xlarge") %>
            </div>
          </div>
        <% end %>

          <div class="control-group">
            <label class="control-label" for="sale_store_name">Title</label>
            <div class="controls">
              <%= text_field(:page, :title, :class => "input-xlarge") %>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="page_content">Content (HTML)</label>
            <div class="controls">
              <%= text_area(:page, :content, :class => "span8", :rows => 30) %>
            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="reset" class="btn">Reset</button>
          </div>
        </fieldset>
      </form>

<% end %>

