<% if @message %>
  <div class="alert alert-success">
  <%= @message %>
</div>
<% end %>


<div class="page-header">
  <h1>Edit Sale</h1>
</div>



<h3>
  Posted by 
  <%= link_to "#{@sale.user.first_name} #{@sale.user.last_name}",
    admin_user_url(@sale.user) %>
  on <%= @sale.created_at.strftime("%b %d, %Y") %>.
  </h3>

  <div style="float:right; padding: 8px; width: 140px; height: 100px;">
    <% (0..7).to_a.each do |i| %>
      <div style="margin-bottom: 16px; ">
        <% image = @sale.send("image_#{i}")
           image.success_action_redirect = new_admin_sale_sale_image_url(@sale) %>
        <div style="border: 1px dashed black; margin-left:27px; margin-bottom: 2px; width: 69px; height: 69px;">
          <% if image.url %>
          <img src="<%= image.versions[:web_thumbnail] %>" width="69" height="69">
          <% end %>
        </div>
        <div style="margin-left: 27px; width: 69px; text-align: center; margin-bottom: 2px; ">
          Image <%= i %>
        </div>
        <div class="clear"></div>

      
       <% uploader = Sale.new.send("image_#{i}")
       uploader.success_action_redirect = new_admin_sale_sale_image_url(@sale, :image => i) %>
        
        <%= direct_upload_form_for(uploader, :html => {:id => "image_#{i}_form" }) do |f| %>
          <%= f.file_field "image_#{i}", :id => "image_#{i}_file", :style => "display:none;" %>
          <%= f.submit("Submit", :class => "btn btn-small btn-primary", :id => "image_#{i}_submit", :style => "display:none;") %>
          <button class="btn btn-small btn-primary" id="image_<%= i %>_upload" onclick="jQuery('#image_<%= i %>_submit')[0].style.display='inline-block'; jQuery('#image_<%= i %>_upload')[0].style.display='none'; jQuery('#image_<%= i %>_file')[0].style.display='inline-block'; jQuery('#image_<%= i %>_file')[0].click(); return false;">Upload</button>
          <% if image.url %>
            <%= link_to 'Delete', admin_sale_sale_image_path(@sale, i),
            :confirm => 'Are you 100% positive that you want to delete this image?', 
            :method => :delete,
            :class => "btn btn-danger btn-small" %>
          <% end %>
        <% end %>
          
      </div>
    <% end %>
  </div>


  <%= form_for(@sale, 
               :html => {:class => "form-horizontal well"},
               :url => admin_sale_path(@sale))  do |f| %>

               <fieldset>

               
                 <div class="control-group">
                   <label class="control-label" for="sale_brand">Company</label>
                   <div class="controls">
                     <%= text_field(:sale, :brand, :class => "input-xlarge") %>
                   </div>
                 </div>

                 <div class="control-group">
                   <label class="control-label" for="sale_product">Product Desc</label>
                   <div class="controls">
                     <%= text_field(:sale, :product, :class => "input-xlarge") %>
                   </div>
                 </div>

									<div class="control-group">
                   <label class="control-label" for="sale_product_history">Product History</label>
                   <div class="controls">
                     <%= text_area(:sale, :product_history, :rows => 10, :class => "input-xxlarge") %>
                   </div>
                 </div>

                 <div class="control-group">
                   <label class="control-label" for="sale_category_id">Category</label>
                   <div class="controls">
                     <%= select(:sale, :category_id,
                                Sale.categories.collect { |c| [c, Sale.categories.index(c)] }) %>
                            </div>
                            </div>

                            <div class="control-group">
                              <label class="control-label" for="sale_product">Sizes</label>
                              <div class="controls">
                                <%= text_field(:sale, :size, :class => "input-large") %>
                                &nbsp;(comma separated e.g. 'XL, XXL, XXXL')
                              </div>
                            </div>


                         

                            <div class="control-group">
                              <label class="control-label" for="sale_orig_price">Retails Price</label>
                              <div class="controls">
                                <%= text_field(:sale, :orig_price, :class => "input-small") %>
                              </div>
                            </div>

                            <div class="control-group">
                              <label class="control-label" for="sale_sale_price">Cost</label>
                              <div class="controls">
                                <%= text_field(:sale, :sale_price, :class => "input-small") %>
                              </div>
                            </div>

                            <div class="control-group">
                              <label class="control-label" for="sale_orig_price">Margin</label>
                              <div class="controls">
                                <%= text_field(:sale, :percent_off_int, :class => "input-small") %>
                              </div>
                            </div>

														

														<div class="control-group">
                              <label class="control-label" for="sale_condition">Condition</label>
                              <div class="controls">
                                <%= text_field(:sale, :condition, :class => "input-small") %>
                              </div>
                            </div>

                         <div class="control-group">
                           <label class="control-label" for="sale_sale_group_id">Group</label>
                           <div class="controls">
                             <%= select(:sale, :sale_group_id,
                                  [[]] + SaleGroup.all.collect { |g| [g.name, g.id] }) %>
                            </div>
                          </div>

                            <div class="control-group">
                              <label class="control-label" for="optionsCheckbox">Visible</label>
                              <div class="controls">
                                <%= check_box(:sale, :visible) %>
                              </div>
                            </div>

                            <div class="control-group">
                              <label class="control-label" for="optionsCheckbox">Returnable</label>
                              <div class="controls">
                                <%= check_box(:sale, :allow_returns) %>
                              </div>
                            </div>

                            <div class="control-group">
                              <label class="control-label" for="optionsCheckbox">Shipping Available</label>
                              <div class="controls">
                                <%= check_box(:sale, :does_shipping) %>
                              </div>
                            </div>

                            <div class="control-group">
                              <label class="control-label" for="optionsCheckbox">Editors' Pick</label>
                              <div class="controls">
                                <%= check_box(:sale, :editors_pick) %>
                              </div>
                            </div>

                            <div class="control-group">
                              <label class="control-label" for="optionsCheckbox">Group Featured</label>
                              <div class="controls">
                                <%= check_box(:sale, :group_curated) %>
                              </div>
                            </div>

                            <div class="control-group">
                              <label class="control-label" for="optionsCheckbox">Sold Out</label>
                              <div class="controls">
                                <%= check_box(:sale, :sold_out) %>
                              </div>
                            </div>
														
													

                            <div class="form-actions">
                              <button type="submit" class="btn btn-primary">Save changes</button>
                              <button type="reset" class="btn">Reset</button>
                            </div>
                          </fieldset>
                        </form>

                      <% end %>

											
