<style>
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
</style>

<% if @error_message %>
  <div class="alert alert-error"> 
    <center>
      <%= @error_message %>
    </center>
  </div>
<% end %>

<% if flash[:message] %>
  <div class="alert alert-info"> 
    <center>
    <%= flash[:message] %>
    </center>
  </div>
<% end %>


	<div class="container">
		<div class="marketing">
			<div class="signup-unit">
       

       


            <legend>Edit Account Settings 

              <a href="/logout" class="btn btn-medium pull-right btn-success">Logout</a>
        
        </legend>

      
      	<%= link_to "Order Status", purchases_url, :class => "btn btn-success order-status-btn" %><br>

     
        <hr>



      Change Email
            

        <%= form_for(@user, :html => {:id => "email_form"}) do |f| %>
          <%= text_field_tag "email", '',
            :class => "span3", :placeholder => @user.email %>
				  <button class="btn url btn-success" type="button" onclick="$('#email_form')[0].submit();">Save</button><br>
				<% end %>

					
				  </fieldset>
				<hr>
				
					Edit Username
				        <div class="input-prepend">
				          <%
				             custom_slug = "YourNameHere"
				             if @user.custom_slug and @user.custom_slug.size > 0
				               custom_slug = @user.custom_slug
				            end
				          %>
				        
								</div>
				
				        <%= form_for(@user, :html => {:id => "custom_slug_form"}) do |f| %>
				         <%= text_field_tag "custom_slug", @user.custom_slug,
				           :class => "span2", :placeholder => custom_slug %>
								  <button class="btn url btn-success" type="button" onclick="$('#custom_slug_form')[0].submit();">Save</button><br>
				<% end %>			
				<hr>

        <script>
function changePassword() {

  if ($('#passwd_new').val().length < 4) {
    alert ("Your password must be at least 4 characters");
    return false; 
  }
            if ($('#passwd_new').val() != $('#passwd_confirm').val()) {
              alert("Your passwords don't match.");
              return false;
            } else {
              $('#passwd_form')[0].submit();
            }
          }
        </script>
				Change Password
        <%= form_for(@user, :html => {:id => "passwd_form"}) do |f| %>
          <%= password_field_tag "passwd_clear", "", :class => "span2 pwd", :placeholder => "Current Password" %> 
          <br>
          <%= password_field_tag "passwd_new", "", :class => "span2 pwd", :placeholder => "New Password" %>
          <%= password_field_tag "passwd_confirm", "", :class => "span2 pwd", :placeholder => "Confirm Password" %>
				  <button class="btn url btn-success" type="button" onclick="return changePassword();">Save</button><br>
        <% end %>

        <hr>
				Change Zip Code
          
        <%= form_for(@user, :html => {:id => "zip_form"}) do |f| %>
          <%= text_field_tag "zip_code", "", :class => "span2", :placeholder => @user.zip_code, :maxlength => 5 %>
				  <button class="btn btn-success url" type="button" onclick="$('#zip_form')[0].submit();">Save</button><br>
        <% end %>
		
      <hr>




			<form class="horizontal">
			  <fieldset>
			    Profile 
			</fieldset>
			</form>

        <%= form_for(@user, :html => {:id => "name_form"}) do |f| %>
      
			    <div class="input-prepend">
				  <span class="add-on">First Name</span>
          <%= text_field_tag "first_name", @user.first_name, :class => "span2", :placeholder => "First Name" %>
				</div>
			<div class="input-prepend">
        <span class="add-on">Last Name</span>
          <%= text_field_tag "last_name", @user.last_name, :class => "span2", :placeholder => "Last Name" %>
        </div>

        <button class="btn url btn-success" type="button" onclick="$('#name_form')[0].submit();">Save</button>

        <% end %>

        <% if @user.is_merchant %>

        <span class="bio">Store Address</span>
        
        <%= form_for(@user, :html => {:id => "address_form"}) do |f| %>
          <%= text_area_tag "store_address", @user.store_address, :rows => 3, :placeholder => "Your store's address" %>&#160;
          <button class="btn url btn-success" type="button" onclick="$('#address_form')[0].submit();">Save</button><br>
        <% end %>

      <% end %>

				
			
		
		

	
	
	
	  
	  
	

	
	 </div><!--end marketing -->		
	</div><!--end container -->
</div>
	
	

