<style>
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
</style>

<% if @error_message %>
  <div class="alert alert-error"> 
    <center>
      <%= @error_message %>
    </center>
  </div>
<% end %>

<% if flash[:message] %>
  <div class="alert alert-info"> 
    <center>
    <%= flash[:message] %>
    </center>
  </div>
<% end %>


	<div class="container">
		<div class="marketing">
			<div class="signup-unit">
       

       


            <legend>Edit Account Settings 

              <a href="/logout" class="btn btn-medium pull-right btn-success">Logout</a>
        
        </legend>

      
      	<%= link_to "Order Status", purchases_url, :class => "btn btn-success order-status-btn" %><br><br>

        <%= link_to "View Sales", user_custom_slug_url(@user), :class => "btn btn-success view-sales-btn" %>
        <hr>


         <script type="text/javascript">

function uploadPhoto() {
  if (checkSize(1024*1024)) {
    $('#photo_form')[0].submit();
  } else {

  }
}

function checkSize(max_img_size)
{
    var input = document.getElementById("photo_file_field");
    // check for browser support (may need to be modified)
    if(input.files && input.files.length == 1)
    {           
        if (input.files[0].size > max_img_size) 
        {
            alert("The file must be less than " + (max_img_size/1024/1024) + "MB");
            return false;
        }
    }

    return true;
}
      </script>


      <%= form_for(@user, :html => {:id => "photo_form", :multipart => true}) do |f| %>


        <%= file_field_tag("photo", :id => "photo_file_field", :style => "display: none;", :onchange => "$('#upload-button').show()") %>
        
        <img src="<%= @user.photo_version_url(:profile) %>"><br><br>
        
        <button class="btn url btn-success" type="button" onclick="$('#photo_file_field').click()">Upload Image</button>        
        <button id="upload-button" class="btn url btn-success" type="button" onclick="uploadPhoto()" style="display:none;">Upload Image</button><br>
        
      <% end %> 
<hr>

      Change Email
            

        <%= form_for(@user, :html => {:id => "email_form"}) do |f| %>
          <%= text_field_tag "email", '',
            :class => "span3", :placeholder => @user.email %>
				  <button class="btn url btn-success" type="button" onclick="$('#email_form')[0].submit();">Save</button><br>
				<% end %>

					
				  </fieldset>
				<hr>
				
					Edit Username for Custom URL (shown publicly when posting comments)
				        <div class="input-prepend">
				          <%
				             custom_slug = "YourNameHere"
				             if @user.custom_slug and @user.custom_slug.size > 0
				               custom_slug = @user.custom_slug
				            end
				          %>
				        <span class="add-on">http://www.valydation.com/<%= custom_slug %></span>
								</div>
				
				        <%= form_for(@user, :html => {:id => "custom_slug_form"}) do |f| %>
				         <%= text_field_tag "custom_slug", @user.custom_slug,
				           :class => "span2", :placeholder => custom_slug %>
								  <button class="btn url btn-success" type="button" onclick="$('#custom_slug_form')[0].submit();">Save</button><br>
				<% end %>			
				<hr>

        <script>
function changePassword() {

  if ($('#passwd_new').val().length < 4) {
    alert ("Your password must be at least 4 characters");
    return false; 
  }
            if ($('#passwd_new').val() != $('#passwd_confirm').val()) {
              alert("Your passwords don't match.");
              return false;
            } else {
              $('#passwd_form')[0].submit();
            }
          }
        </script>
				Change Password
        <%= form_for(@user, :html => {:id => "passwd_form"}) do |f| %>
          <%= password_field_tag "passwd_clear", "", :class => "span2 pwd", :placeholder => "Current Password" %> 
          <br>
          <%= password_field_tag "passwd_new", "", :class => "span2 pwd", :placeholder => "New Password" %>
          <%= password_field_tag "passwd_confirm", "", :class => "span2 pwd", :placeholder => "Confirm Password" %>
				  <button class="btn url btn-success" type="button" onclick="return changePassword();">Save</button><br>
        <% end %>

        <hr>
				Change Zip Code
          
        <%= form_for(@user, :html => {:id => "zip_form"}) do |f| %>
          <%= text_field_tag "zip_code", "", :class => "span1", :placeholder => @user.zip_code, :maxlength => 5 %>
				  <button class="btn btn-success url" type="button" onclick="$('#zip_form')[0].submit();">Save</button><br>
        <% end %>
		
      <hr>

      <script type="text/javascript">

function uploadPhoto() {
  if (checkSize(1024*1024)) {
    $('#photo_form')[0].submit();
  } else {

  }
}

function checkSize(max_img_size)
{
    var input = document.getElementById("photo_file_field");
    // check for browser support (may need to be modified)
    if(input.files && input.files.length == 1)
    {           
        if (input.files[0].size > max_img_size) 
        {
            alert("The file must be less than " + (max_img_size/1024/1024) + "MB");
            return false;
        }
    }

    return true;
}
      </script>



			<form class="horizontal">
			  <fieldset>
			    Profile 
			</fieldset>
			</form>

        <%= form_for(@user, :html => {:id => "name_form"}) do |f| %>
      
			    <div class="input-prepend">
				  <span class="add-on">First Name</span>
          <%= text_field_tag "first_name", @user.first_name, :class => "span2", :placeholder => "First Name" %>
				</div>
			<div class="input-prepend">
        <span class="add-on">Last Name</span>
          <%= text_field_tag "last_name", @user.last_name, :class => "span2", :placeholder => "Last Name" %>
        </div>

        <button class="btn url btn-success" type="button" onclick="$('#name_form')[0].submit();">Save</button>

        <% end %>

        <% if @user.is_merchant %>

        <span class="bio">Store Address</span>
        
        <%= form_for(@user, :html => {:id => "address_form"}) do |f| %>
          <%= text_area_tag "store_address", @user.store_address, :rows => 3, :placeholder => "Your store's address" %>&#160;
          <button class="btn url btn-success" type="button" onclick="$('#address_form')[0].submit();">Save</button><br>
        <% end %>

      <% end %>

				
			
			   <hr>
			
			Bio
<span class="bio">
        <%= form_for(@user, :html => {:id => "bio_form"}) do |f| %>
          <%= text_area_tag "bio", @user.bio, :rows => 5, :style => "width:300px;", :placeholder => "Enter text (150 character limit)" %></span>
        <br>
        <button class="btn url btn-success" type="button" onclick="$('#bio_form')[0].submit();">Save</button><br>
      <% end %>
		
		

	
	
	
	  
	  
	

	
	 </div><!--end marketing -->		
	</div><!--end container -->
</div>
	
	

