<div class="cart-container">   
 <div class="container">
     
      	<div class="category-feed-cart well">
			    <div class="back-button btn btn-success"><a href="/sales">Back</a></div>

			    <span class="category-feed-align">
			      <% Sale.categories.each_with_index do |category, category_id| %>
			        <% if category_id == params[:category_id].to_i %><strong><% end %>
			        <%= link_to category.upcase, sales_url(:category_id => category_id) %>&#160;
			        <% unless category_id == Sale.categories.size-1 %>|&#160;<% end %>
			        <% if category_id == params[:category_id].to_i %></strong><% end %>
			      <% end %>
			    </span>

			    <a href="/featured/new-stuff" class="faves-script-detail btn btn-success">
			      What's New
			    </a>



			  </div> </div>


<div class="container">
<div class="shopping-cart">
<div class="cart-header">
<div class="title upcase">Your Shopping Cart</div>
</div>
<div class="expired-items-container" style=""></div>
<div class="cart-content clearfix">
<div class="item-container" style="">
<div class="empty hide" style="display: block;">
<div class="item-listing">
	<% if @cart.items.empty? %>
<p>
Your cart is empty!
<a href="/shop">Go shop?</a>
</p><% else %>

<% end %>
</div>
</div>

<% for item in @cart.items %>
<div class="item-listing row-fluid" style="display: block;"><input class="check-box" type="checkbox" checked="">
<a href="<%= sale_url(item.id) if item.id %>">
  <img class="pull-left" id="sale_image_<%= item.id %>" src="<%= item.image_0.versions[:web_index] if item.image_0 %>" alt="" />
</a>
<div class="item-info">
  <a class="title"><%= h(item.product) %></a>
  <ul>
    <li>Size: <%= h(item.size) %></li>
  </ul><br>
  <hr>
  <div class="item-price">
    <strong>
     $<%= h(item.orig_price) %>
    </strong>
  </div>
  <a class="pull-right remove-link" href="#">Remove</a>
</div></div>
<% end %>



</div>
<div class="loading" style="display: none;">
<div class="spinner"></div>
</div>
<div class="order-summary">
<div class="cart-body summary-body">
<div class="summary-title">Order Summary</div>
<div class="summary-totals-container" style=""><dl>
	
  <dt class="subtotal">Subtotal:</dt>
  <dd class="subtotal"><%= humanized_money_with_symbol @cart.items.sum(&:orig_price) %></dd>
  <dt>	Shipping:</dt>
  <dd class="free">FREE</dd>
</dl>

<dl class="total">
  <dt>Total:</dt>
  <dd><%= humanized_money_with_symbol @cart.items.sum(&:orig_price) %></dd>
</dl></div>
<div class="checkout-button">
<div style="margin:0;padding:0;display:inline"></div>
<button class="btn btn-success" disabled="disabled">Continue </button>
</form>

</div>

</div>
<div class="summary-bookend">


Questions? <a href="mailto:hi@vayldation.com">Email Us</a> 
<span class="pull-right">
<%= link_to "Clear Cart", {:action => "clear_cart"} %>
</span>

</div>


</div>
</div>
</div>

</div>


</div>
		  
			        
