<fieldset id="payment-fieldset">
  <form id='payment-form' action='<%= Braintree::TransparentRedirect.url %>' method='POST'>              
    <input type="hidden" name="tr_data" value="<%= @tr_data %>" />

    <legend>Preferred Payment
    </legend>

    <input name="transaction[customer][first_name]" type="text" class="input-small" placeholder="First Name" value="<%= params[:first_name] %>">
    <input name="transaction[customer][last_name]" type="text" class="input-small" placeholder="Last Name" value="<%= params[:last_name] %>">
    <br>
    <input name="transaction[credit_card][number]"  autocomplete="off" type="text" class="span4" placeholder="Card Number" value="<%= params[:cc_number] %>">
    <input name="transaction[credit_card][cvv]" type="text" class="span3" placeholder="Security Code" value="<%= params[:cvv] %>">


    <div class="" style="">
      <p>Expiration Date</p>
      <select name="transaction[credit_card][expiration_month]">
        <option>Month</option>
        <%= options_for_select((1..12).to_a, params[:exp_month].to_i) %>
      </select>
      <select name="transaction[credit_card][expiration_year]">
        <%= options_for_select((["Year"] + (Time.now.year..Time.now.year+10).to_a), params[:exp_year].to_i) %>
      </select>

    </div>

    <script>
function toggleAddress() {
  $.get('<%= new_sale_purchase_url(@sale) %>',
        $('#payment-form').serialize(),
        function(responseHTML) {
          $('#payment-fieldset').replaceWith(responseHTML);
        });
}
    </script>

    

    <div class="" style="">
      <hr>
      <p>
      <%= check_box_tag "ship", '1', (params[:ship].to_i == 1), :onchange => "toggleAddress()" %>
      Add shipping within the continental U.S. for a flat rate of $5
      </p>

      <% if params[:ship].to_i == 1 %>
        <div id="address-container">
        <%= hidden_field_tag "transaction[shipping][first_name]", @user.first_name %>
        <%= hidden_field_tag "transaction[shipping][last_name]", @user.last_name %>
        <%= hidden_field_tag "transaction[options][store_shipping_address_in_vault]", 'true' %>

        <input type="text" class="span4" name="transaction[shipping][street_address]" placeholder="Street Address" value="<%= params[:address] %>">
        <input type="text" class="span4" name="transaction[shipping][extended_address]" placeholder="Apt." value="<%= params[:address_2] %>"><br>
        <input type="text" class="input-small" name="transaction[shipping][locality]" placeholder="City" value="<%= params[:city] %>">
        <select class="expiration" name="transaction[shipping][region]">
          <% state_codes = Carmen::Country.named("United States").subregions.collect(&:code) %>
          <%= options_for_select(state_codes, params[:state]) %>
        </select>

        <input type="text" class="input-small" name="transaction[shipping][postal_code]" placeholder="Zip Code" value="<%= params[:zip] %>">
      </div>
    <% end %>

    </div>




    <div class="row-fluid">
      <div class="pull-right">

        <% unless @sale.sizes.empty? or @sale.size == "N/A" or @sale.sizes.length == 1 %>
       
          <p>
          <%= select_tag 'transaction[custom_fields][size]',
            options_for_select((["Select Size"] + @sale.sizes), params[:size]) %>
          </p>
        <% end %>
        

        <table class="table table-bordered">               
         <% if @sale.sizes.length == 1 %>
           <tr>
           <td>
              <font size="3" class="muted">Size</font>
            </td> 
            <td>
              <%= @sale.size %> 
              <%= hidden_field_tag 'transaction[custom_fields][size]', @sale.size %>
           </td>
         </tr>
         <% end %>
          <tr>
            <td>
              <font size="3" class="muted">Sale Price</font>
            </td>
            <td>
              <%= humanized_money_with_symbol @purchase.subtotal %>
            </td>
          </tr>
          <tr>
            <td>
              <font size="3" class="muted">Sales Tax</font>
            </td>
            <td>
              <%= humanized_money_with_symbol @purchase.tax %>
            </td>
          </tr>
          <% if params[:ship].to_i == 1 %>
            <tr id="shipping_row">
            <td>
              <font size="3" class="muted">Shipping</font>
            </td>
            <td>
              <%= humanized_money_with_symbol @purchase.shipping %>
            </td>
          </tr>
        <% end %>
        </tr>
        <tr id="total">
          <td>
            <font size="3" class="muted">Total</font>
          </td>
          <td>
            <%= humanized_money_with_symbol @purchase.total %>
          </td>
        </tr>                  
      </table>
    </div>
  </div>

</form>

<script>
function validateAndSubmit() {
  if ($('#transaction_custom_fields_size').length > 0) {
    if ($('#transaction_custom_fields_size').val() == "Select Size") {
      alert("Please select a size.");
      return false;
    } else {
      justSubmit();
    }
  }
  else {
    justSubmit();
  }
}

function justSubmit() {
  $('#submitButton')[0].innerText='Processing...';
  $('#submitButton')[0].disabled = true;
  $('#payment-form').submit();
}
</script>

<button id="submitButton" onclick="validateAndSubmit(); return false;" type="submit" class="btn btn-success pull-right">Submit Payment</button>

<% if @sale.allow_returns %>
  *Merchant accepts returns within 10 days of sale
<% else %>
    *Merchant does not accept returns
<% end %>

            </fieldset>

