<style>
body {
  padding-top: 100px; /* 60px to make the container go all the way to the bottom of the topbar */
}
</style>

<div class="container">
  <div class="marketing">
    <div class="row-fluid">
      <div class="span4">
        <div class="signup-unit">
          <fieldset>
            <form id='payment-form' action='<%= Braintree::TransparentRedirect.url %>' method='POST'>              
              <input type="hidden" name="tr_data" value="<%= @tr_data %>" />

              <legend>Preferred Payment
              <button id="submitButton" onclick="$('#submitButton')[0].innerText='Processing...'; $('#submitButton')[0].disabled = true; $('#payment-form').submit(); return false;" type="submit" class="btn btn-success pull-right">Submit Payment</button></legend>

              <input name="transaction[customer][first_name]" type="text" class="input-small" placeholder="First Name">
              <input name="transaction[customer][last_name]" type="text" class="input-small" placeholder="Last Name">
              <br>
              <input name="transaction[credit_card][number]"  autocomplete="off" type="text" class="span4" placeholder="Card Number">
              <input name="transaction[credit_card][cvv]" type="text" class="span3" placeholder="Security Code">
              <hr>
              <div class="span6" style="margin-left:0px;">
              <p>Expiration Date</p>
              <select name="transaction[credit_card][expiration_month]">
                <option>Month</option>
                <%= options_for_select((1..12).to_a) %>
              </select>
              <select name="transaction[credit_card][expiration_year]">
                <%= options_for_select(["Year"] + (Time.now.year..Time.now.year+10).to_a) %>
              </select>
            </div>
              <div class="pull-right">
                <table class="table table-bordered">  
                  <tr>
                    <td>
                      <font size="3" class="muted">Sale Price</font>
                    </td>
                    <td>
                      <%= humanized_money_with_symbol @sale.sale_price %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <font size="3" class="muted">Sales Tax</font>
                    </td>
                    <td>
                      <%= humanized_money_with_symbol @tax_amount %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <font size="3" class="muted">Total</font>
                    </td>
                    <td>
                      <%= humanized_money_with_symbol @total_amount %>
                    </td>
                  </tr>
                </table>
              </div>
            </form>

          </div><!--end marketing -->		
        </div><!--end container -->
      </div><!--end row-fluid -->
    </div>
  </div>
</div>
</div>
<br><br>
