  <script>
function validateAndSubmit() {


      if ($('#retail_category').val() == "Choose a category") {
        alert("Please select a retail category.");
        return false;
      }

   

      if ($("#first_name").val().length < 1) {
        alert("Please provide your first name.");
        return false;
      }

      if ($("#last_name").val().length < 1) {
        alert("Please provide your last name.");
        return false;
      }

      if ($("#zip_code").val().length != 5) {
        alert("Please provide your 5-digit zip code.");
        return false;
      }


      if ($("#passwd_clear").val().length < 4) {
        alert("Your password must be at least 4 characters");
        return false;
      }

      if ($("#passwd_clear").val() != $("#passwd_confirm").val()) {
        alert("Your passwords don't match.");
        return false;
      }

      
      if ($("#business_name").val().length < 1) {
        alert("Please provide your business name.");
        return false;
      }

      if ($("#custom_slug").val().length < 1) {
        alert("Please provide a custom Valydation URL.");
        return false;
      }

      if (!$('#tos')[0].checked) {
        alert("Please agree to the Terms of Service.");
        return false;        
      }

    }
    </script>

<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <%= form_tag({:controller => "merchants",
                  :action => "create" },
                  :multipart => true) do %>

<div class="container">
		<div class="marketing">
			<div class="signup-unit">
				  <fieldset>
				    <legend>Create a Merchant Account </legend>

  <% if @error_message %>
    <div class="alert alert-error">  
      <%= @error_message %>
    </div>
  <% end %>

            <span class="inline-help">&#160;Primary Retail Type&#160;</span>

            <%= select_tag("retail_category",
                            options_for_select((["Choose a category"] + Sale.categories), 
                                               params[:retail_category]),
                           :class => "retail-type") %>
						<hr>
      <span class="inline-help">&#160;Business Name</span><br>
      <%= text_field_tag("business_name", params[:business_name], :class => "input-medium" )%>
      <br><br>
            
            <span class="inline-help">&#160;Contact Name</span><br/>
            <%= text_field_tag("first_name", params[:first_name], :class => "input-medium", :placeholder => "First Name") %>
            <%= text_field_tag("last_name", params[:last_name], :class => "input-medium", :placeholder => "Last Name") %>
            <br>
				<hr>
				<span class="inline-help">&#160;Email Address</span><br>
        <%= text_field_tag("email", params[:email], :class => "input-medium", :placeholder => "Email" )%>
			  <br><hr>
				<span class="inline-help">&#160;Zip Code</span><br>
        <%= text_field_tag("zip_code", params[:zip_code], :class => "input-small", :placeholder => "Zip" )%>
			  <br><hr>
        
			<span class="inline-help">&#160;Password</span><br>
      <%= password_field_tag("passwd_clear", params[:passwd_clear], :class => "input-medium", :placeholder => "Password") %>
      <br>
      <hr>
			<span class="inline-help">&#160;Confirm Password</span><br>
      <%= password_field_tag("passwd_confirm", params[:passwd_confirm], :class => "input-medium", :placeholder => "Confirm Password") %>
      <br>
      
          <hr>
				Your custom URL<br>
				<div class="input-prepend">
				  <span class="add-on">http://www.valydation.com/</span>
          <%= text_field_tag("custom_slug", params[:custom_slug], :class => "span2", :placeholder => "Custom") %>
        </div><hr>
				

        <span class="inline-help">&#160;Profile Photo</span><br/>

        <%= file_field_tag("photo", :id => "photo_file_field") %>
        <br/>
      <hr>
			
      <span class="bio">Describe your store</span><br>

      <%= text_area_tag "bio", params[:bio], :placeholder => "Enter text (150 character limit)", :rows => "3" %>
      <br>
		<hr>
		

	<span class="inline-help">&#160;Website</span> <br>

  <%= text_field_tag "website_url", params[:website_url], :class => "input-large", :placeholder => "ex: yourwebsite.com" %>

  <hr>

<%= check_box_tag 'tos', params[:tos] %>
  
  <span class="">&#160;Agree to <%= link_to 'Terms of Service' , '/page/tos' %></span> 
  
  <br>
  
  <br>

	<button type="submit" class="btn btn-success" onclick="return validateAndSubmit();">Create Account</button>
	<br>
	
	
	  
	  
	

	
	 </div><!--end marketing -->		
	</div><!--end container -->
	</div><!--end row-fluid -->
	</div>
	</div>

<% end %>
