<% 
@sale_rows = [[]]
@sales.each_with_index do |sale, i|
  if i>0 && i%3 == 0
    @sale_rows << []
  end
  @sale_rows.last << sale
end
%>

<div id="sales_page_<%= params[:page].to_i %>">
<% @sale_rows.each do |row| %>
  <div class="row-fluid">
    <div class="container">
      <ul class="thumbnails">
        <% row.each do |sale| %>
            <%= render :partial => "sales/sale_li", :locals => {:sale => sale} %>        
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
</div></div></div>
<div id="footer">
    <medium>
     <font color="#ffffff"> 
<p><%= link_to "ABOUT US", "pages/about" %> | <a href="/page/faq-shoppers">JOBS</a> | <%= link_to "BLOG", "http://www.valydation.tumblr.com", :target => "_blank" %> | <a href="/page/privacy">BECOME A SILICON LEGEND</a> | <a href="/page/faq-shoppers">AFFILIATES</a> | <a href="/page/faq-shoppers">HELP</a> | <a href="/page/faq-shoppers">JOBS</a> | <a href="/page/faq-shoppers">AUTHENTICITY</a> | <a href="/page/faq-shoppers">CONTACT US</a></p>

<p>&copy;<%= link_to "Valydation 2013, All rights reserved.", "http://mysaletable.com" %><a href="/page/tos">Terms of Service</a> and <a href="/page/privacy">Privacy Policy</a></p>
   </font> </medium>
  </div>

<% @sales.each do |sale| %>
  <%= render :partial => "sales/sale_modal", :locals => {:sale => sale} %>
<% end %>
