<% detail ||= false %>
<div class="row">
	<div class="container">
	  <div class="category-feed-detail well">
	    <div class="back-button btn btn-success"><a href="/sales">Back</a></div>

	    <span class="category-feed-align">
	      <% Sale.categories.each_with_index do |category, category_id| %>
	        <% if category_id == params[:category_id].to_i %><strong><% end %>
	        <%= link_to category.upcase, sales_url(:category_id => category_id) %>&#160;
	        <% unless category_id == Sale.categories.size-1 %>|&#160;<% end %>
	        <% if category_id == params[:category_id].to_i %></strong><% end %>
	      <% end %>
	    </span>

	    <a href="/featured/new-stuff" class="faves-script-detail btn btn-success">
	      What's New
	    </a>

	    

	  </div> </div> </div>
	
     
    

  

<div class="row">
  <div class="container">
    
  <br>
  <div class="content-blog-bg-top">
	        <div class="content-blog-bg-bot">
	            <style>

	                .content-blog-bg-bot {
	                    background: none !important;
	                    padding: 0px 0px 0px 0px
	                }

	                .content-blog-bg-top {
	                    margin: 0 auto;
	                }

	            </style>
	            <div class="product-detail-wrap top30 clearfix" id="mc_wrap">
	                <!-- left container for images -->
	                <div class="product-imgs-box left">
	                    <!-- large image container -->




											<img id="sale_image_<%= sale.id %>" src="<%= sale.image_0.versions[:feed_large_2x] if sale.image_0 %>" alt="" />
	



	
									<br>
										<div class="more-views">
										<!--    <h4></h4>-->
										<% [:image_0, :image_1, :image_2, :image_3, :image_4, :image_5, :image_6, :image_7].each do |image_sym|
								      if (img = sale.send(image_sym)) and not img.versions[:web_thumbnail].to_s.empty? 
								        img_version = (detail ? :feed_large_2x : :web_modal)
								      %>
										    <ul>

										        	    <li>
							      <img src="<%= img.versions[:web_thumbnail] %>" height="69px" width="69px" onmouseover="$('#sale_image_<%= sale.id %>')[0].src='<%= img.versions[img_version] %>'" onclick="$('#sale_image_<%= sale.id %>')[0].src='<%= img.versions[img_version] %>'" /></li>
							      <%   end
							    end %>
	        
	    
</ul>
	        
	</div>


             <!-- you may also like section -->
	                                                        </div>
	                <!--  end images block -->

	                <!-- shopping container -->
	                <div class="product-shop left clearfix">

	                    <!-- add to bag area -->
	                                        <div class="product-name">
	                        <h2><%= sale.brand %></h2>

	                        <h3><%= sale.product %></h3>

	                        <p class="price">
	                                                        <%= humanized_money_with_symbol sale.orig_price %>                        </p>
<br>
	                        <p class="savings">

	                                                           
	            <%= sale.condition if sale.condition %>   <br>
							 <h3>size: <%= sale.size if sale.size %></h3>


	                                                                                      </p>
	                                               
	    <div class="button-wrap">
	        <% if detail %>
					      <% if sale.sold_out %>
					        <a href="#" class="btn btn-success btn-large disabled">SOLD</a>          
					      <% else %> 
					        <% if sale.user or sale.user.is_merchant %>      
					          <a href="<%= add_to_cart_url(:sale_id => sale.id) %>" class="btn btn-success btn-large ">Add To Cart</a>
					        <% else %>
					          <a href="#" class="btn btn-success btn-large disabled">Add To Bag</a>
					        <% end %>
					      <% end %>
					  <% end %>
					
	    </div>
	</form>                    </div>
 
	                    <div class="additional-links">
	             <ul>
	                 
											                     </li>
	                 <li>																								<a href="<%= twitter_share_url(sale) %>">
																			      <%= image_tag "twitter_32_icon.png", :height => 32, :width => 32 %>
																			  &#160;&#160;  </a>
									</li>
	                 <li><a href="<%= fb_share_url(sale) %>">
									        <%= image_tag "facebook_icon_32.png", :height => 32, :width => 32 %>
									        &#160;&#160;
									      </a>
									</li>
	             </ul>
	         </div>





	                    <!-- details and description -->
	                    <div class="summary" id="accordian">
	                        <h3 class="menu_head">Product History</h3>

	                        <div class="menu_body">


	        <p class="mc_condition_listing">
	                    </p>


	                           <p><%= sale.product_history %></p>

	                            <p>
	                               
	                                As with all Valydation pieces, this item is guaranteed by 
	                                our promise of authenticity.
	                            </p>
	                        </div>


	                            
	<div class="menu_body layaway_text" style="display: block;">
	
	    Read our <u><a href="/tos">Terms and Conditions</a></u>
	   
	</div>

       
	                                                
	                       
	                    </div>
	                    <!-- end details and descriptions -->


	                </div>
	                <!-- end shopping container -->
	            </div>
	        </div>
	        <!--  end product-detail-wrap -->
	    </div>
  </div> <!-- thumbnails -->
  

    <%= hidden_field_tag "sale_fave_#{sale.id}", sale.my_fave_id %>
  
    
    
    <br>
   

   


  
    

               
              
