<% detail ||= false %>
	  <div class="category-feed-detail well">
	    <div class="back-button ">
			<a href="/sales">Home</a>&#160;/
		        <% if sale.category_id == 0 %>
				<a href="/sales">Icon T-Shirts</a>
						<% else %> 
						<% if sale.category_id == 1 %>
						<a href="/sales?category_id=1">Event T-Shirts</a>
						<% else %> 
						 <% if sale.category_id == 2 %>
						<a href="/sales?category_id=2">Startup T-Shirts</a>
						<% else %> 
						 <% if sale.category_id == 3 %>
						<a href="/sales?category_id=2">Promotional</a>
						<% end %>	<% end %>	<% end %><% end %>	
		        / <%= sale.product %>
		    
	    </div> 

	</div>
   
<div class="container">
  <div class="content-blog-bg-top">
	    <div class="content-blog-bg-bot">
	        <div class="product-detail-wrap top30 clearfix" id="mc_wrap">
	                <!-- left container for images -->
	                <div class="product-imgs-box left">
	                    <!-- large image container -->
						<img id="sale_image_<%= sale.id %>" src="<%= sale.image_0.versions[:feed_large_2x] if sale.image_0 %>" alt="" />
	
									<br>
										<div class="more-views">
										<!--    <h4></h4>-->
										<% [:image_0, :image_1, :image_2, :image_3, :image_4, :image_5, :image_6, :image_7].each do |image_sym|
								      if (img = sale.send(image_sym)) and not img.versions[:web_thumbnail].to_s.empty? 
								        img_version = (detail ? :feed_large_2x : :web_modal)
								      %>
										    <ul>

										        	    <li>
							      <img src="<%= img.versions[:web_thumbnail] %>" height="69px" width="69px" onmouseover="$('#sale_image_<%= sale.id %>')[0].src='<%= img.versions[img_version] %>'" onclick="$('#sale_image_<%= sale.id %>')[0].src='<%= img.versions[img_version] %>'" /></li>
							      <%   end
							    end %>
	        
	    
</ul>
	        
	</div>


             <!-- you may also like section -->
	                                                        </div>
	                <!--  end images block -->

	                <!-- shopping container -->
	                <div class="product-shop pull-right">

	                    <!-- add to bag area -->
	                                        <div class="product-name">
	                        <h2><%= sale.brand %></h2>

	                        <h3><%= sale.product %></h3>

	                        <p class="price">
	                                                                            </p>
<br>
	                        <p class="savings">

	                                                           
	            <%= sale.condition if sale.condition %>   <br>
							 <h3>size: <%= sale.size if sale.size %></h3>


	                                                                                      </p>
	                                               
	    <div class="button-wrap">
	        <% if detail %>
					      <% if sale.sold_out %>
					        <a href="#" class="btn btn-success btn-large disabled">ON LOAN</a>          
					      <% else %> 
					        <% if sale.user or sale.user.is_merchant %>      
					          <a href="mailto:hi@valydation.com" class="btn btn-success btn-large ">Inquire</a>
					        <% else %>
					          <a href="#" class="btn btn-success btn-large disabled">Add To Bag</a>
					        <% end %>
					      <% end %>
					  <% end %>
					
	    </div>
	</form>                    </div>
 
	                    <div class="additional-links">
	            
									<span class="italic-detail">	
	                 Share this item
											                     </span> 
											 <ul style="padding-top: 8px;">
	                 <li>																		<a href="<%= twitter_share_url(sale) %>">
						 <%= image_tag "twitter_32_icon.png", :height => 32, :width => 32 %>
																			  &#160;&#160;  </a>
									</li>
	                 <li><a href="<%= fb_share_url(sale) %>">
									        <%= image_tag "facebook_icon_32.png", :height => 32, :width => 32 %>
									        &#160;&#160;
									      </a>
									</li>
	             </ul>
	         </div>





	                    <!-- details and description -->
	                    <div class="summary" id="accordian">
	                        <h3 class="menu_head">Product History</h3>

	                        <div class="menu_body">


	        <p class="mc_condition_listing">
	                    </p>


	                           <p><%= raw sale.product_history %></p>
	<h3 class="menu_head">Product Details</h3>
															<p><%= raw sale.product_specifics if sale.product_specifics %></p>
															
															<h3 class="menu_head">Product Condition</h3>
									<p>
	                               
	                                As with all /valydation pieces, this item is guaranteed by 
	                                our promise of authenticity.
	                            </p>
	                        </div>


	                            
	<div class="menu_body layaway_text" style="display: block;">
	
	    Read our <u><a href="/tos">Terms and Conditions</a></u>
	   
	</div>

       
	                                                
	                       
	                    </div>
	                    <!-- end details and descriptions -->


	                </div>
	                <!-- end shopping container -->
	            </div>
	        </div>
	        <!--  end product-detail-wrap -->
	    </div>
  </div> <!-- thumbnails -->
  

   

   


  
    

               
              
