    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <div class="container">
      <div class="category-feed well">
        <span class="pull-left">	
          <select>
        <%= options_for_select(@cities.collect { |c| [c.name, c.id] }, @user.city_id) %>
          </select>

        </span>

        <span class="category-feed-align">

          <% Sale.categories.each_with_index do |category, category_id| %>
            <% if category_id == params[:category_id].to_i %><strong><% end %>
              <%= link_to category.upcase, sales_url(:category_id => category_id) %>&#160;
              <% unless category_id == Sale.categories.size-1 %>|&#160;<% end %>
            <% if category_id == params[:category_id].to_i %></strong><% end %>
          <% end %>

        </span>

      </div>
    </div>

    <% 
        @sale_rows = [[]]
        @sales.each_with_index do |sale, i|
          if i>0 && i%4 == 0
            @sale_rows << []
          end
          @sale_rows.last << sale
        end
    %>

    <% @sale_rows.each do |row| %>
      <div class="row-fluid">
		    <div class="container">
          <ul class="thumbnails">

      <% row.each do |sale| %>

        <li class="span3">
          <div class="hover-group">
            <div class="image-wrapper">
				      <a href="#myModal" data-toggle="modal"><img class="product-pic" src="img/Saks_Gucci.jpg" alt=""></a>
              <span class="thisInfo">
                <p class="lanvin"><%= sale.brand %></p>
                <p class="flats">Size <%= sale.size %><p>
                <p><i><%= sale.metro.name %></i></p>
              </span>
				    <div class="hover-toggle">
              <center><span class="percentoff"><%= (sale.percent_off * 100).round %>% Off</span></center>
				    </div>
				  </div>
       </li>

      <% end %>

          </ul>
        </div>
      </div>
    <% end %>

    

    

        

