
<style>
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
</style>

<script type="text/javascript">
$(document).on('click','#filter-button', function(){
  if($(this).siblings('#filter-section').is(':visible')){
    $(this).siblings('#filter-section').slideUp()
  }else{
    $(this).siblings('#filter-section').hide().slideDown()
  }
});

<% if params[:size] || params[:brand] %>
$(function() {
  $('#filter-section').show();
});
<% end %>
</script>

<script>
function submitFilter() {
  $('#filter_form')[0].submit()
}
</script>

<% if flash[:message] %>
  <div class="alert alert-info"> 
  <center>
    <%= flash[:message] %>
  </center>
</div>
    <% end %>

<div class="container">
  <div class="category-feed well">
    <div id="filter-button" class="filter-button">Filter</div>

    <span class="category-feed-align">
      <% Sale.categories.each_with_index do |category, category_id| %>
        <% if category_id == params[:category_id].to_i %><strong><% end %>
        <%= link_to category.upcase, sales_url(:category_id => category_id) %>&#160;
        <% unless category_id == Sale.categories.size-1 %>|&#160;<% end %>
        <% if category_id == params[:category_id].to_i %></strong><% end %>
      <% end %>
    </span>

    <a href="/featured/new-stuff">
      <%= image_tag "Whats_New.png", :width => 100, :height => 24, :class => "faves-script" %>
    </a>

    <div id="filter-section" class="filter-section">	
      <%= form_tag sales_url, :method => "get", :id => "filter_form" do %>
      <%= hidden_field_tag "category_id", params[:category_id] %>
      <span class="pull-left">	
        <select id="city_id" name="city_id" onchange="submitFilter()">
          <%= options_for_select([["Filter by brand",nil]] + @cities.collect { |c| [c.name, c.id] }, 
                                 params[:city_id]) %>
        </select>
      </span>
      <span class="pull-left filter-city">	
        <select id="size" name="size" onchange="submitFilter()">
          <%= options_for_select([["Filter by size",nil]]+Sale.sizes.flatten, params[:size]) %>
        </select>
      </span>
      <% end %> <!-- form -->
    </div>

  </div>

<%= render "sales" %>

<% if @merchant_modal and merchant_page = Page.find_by_slug("merchant-modal") %>
  <%= raw merchant_page.content %>

<script>
$(function() {
  $('#MerchantModal').modal();
});
</script>
    <% end %>

