<!--
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
-->

<%= javascript_include_tag "vendor/jquery-ui" %>
<%= stylesheet_link_tag "vendor/jquery-ui" %>

<style>
body {
  padding-top: 100px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#dropzone input {
  /*Important*/
  position: absolute;
  /*Important*/
  cursor: pointer;
  left: 0px;
  top: 0px;
  opacity:0; 
}

/*Important*/
#dropzone.mouse-over {
  border: 2px dashed rgba(0,0,0,.5);
  color: rgba(0,0,0,.5);
}

.photoOr {
  margin-top:-16px;
  margin-bottom: 8px;
  font-style: italic;  
}

ul.thumbnails div.thumbnail {
  width:200px;
  height:200px;
  overflow: hidden;
  padding:2px;
}
ul.thumbnails div.thumbnail img {
  min-height: 100%;
  width: auto;
}

table#sizechart td {
  border-bottom: 1px solid rgb(221, 221, 221);
  text-align: center;
  cursor: pointer;
}
td.selectedSize {
  color: white;
  background-color: rgb(67, 17, 96);
}

</style>




  <script>

function ignoreDrag(e) {
  e.originalEvent.stopPropagation();
  e.originalEvent.preventDefault();
}

function drop(e) {
  ignoreDrag(e);
  var dt = e.originalEvent.dataTransfer;
  var files = dt.files;

  if(dt.files.length > 0){
    var file = dt.files[0];
    alert(file.name);
  }
}

function submitSaleForm() {
  $('#sale_form').submit()
}

function jsonFromIframe(iframe_id) {
  var jsonText = compatibleInnerText($("#_image_0_iframe")[0].contentWindow.document.body);
  var jsonResponse = JSON.parse(jsonText);
}

function compatibleInnerText(el) {
  return (el.innerText || el.textContent);
}

$(document).ready(function () {
  $('#_image_0_iframe').load(function() {
    var jsonText = compatibleInnerText($("#_image_0_iframe")[0].contentWindow.document.body);
    var jsonResponse = JSON.parse(jsonText);
    $('#image_0_key')[0].value = jsonResponse['key']
    if ($('#sale_image_uploader_image_1').val().length > 0) {
      $('#image_1_form').submit();
    } else {
      submitSaleForm();
    }
  });

  $('#_image_1_iframe').load(function() {
    var jsonResponse = JSON.parse($("#_image_1_iframe")[0].contentWindow.document.body.innerText);
    $('#image_1_key')[0].value = jsonResponse['key']
    if ($('#sale_image_uploader_image_2').val().length > 0) {
      $('#image_2_form').submit();
    } else {
      submitSaleForm();
    }
  });

  $('#_image_2_iframe').load(function() {
    var jsonResponse = JSON.parse($("#_image_2_iframe")[0].contentWindow.document.body.innerText);
    $('#image_2_key')[0].value = jsonResponse['key'];
    submitSaleForm();
  });


  $('#selectFiles').click(function() {
    $.each([0,1,2],function(i) {
      var fileElly = $('#sale_image_uploader_image_' + i);

      if (fileElly.val().length == 0) {
        fileElly.click();
        return false;
      }

      if (i==2) {
        fileElly.click();
      }
    });
  });

  $('#uploady').click(function() {
    if (validateForm()) {
      $('#uploady')[0].disabled = true      
      $('#uploady')[0].innerText = "Uploading..."
      $('#image_0_form').submit();
    }
  });



});

function nextEmptyFileInput() {
  var fileInput;

  $.each([0,1,2],function(i) {
    fileInput = $('#sale_image_uploader_image_' + i);

    if (fileInput.val().length == 0) {
      return false;
    }
  });
  return fileInput;
}

$(function () {
  var dropZoneId = "dropzone";
  var buttonId = "clickHere";
  var mouseOverClass = "mouse-over";

  var dropZone = $("#" + dropZoneId);
  var ooleft = dropZone.offset().left;
  var ooright = dropZone.outerWidth() + ooleft;
  var ootop = dropZone.offset().top;
  var oobottom = dropZone.outerHeight() + ootop;

  document.getElementById(dropZoneId).addEventListener("dragover", function (e) {
    e.preventDefault();
    e.stopPropagation();
    dropZone.addClass(mouseOverClass);
    var x = e.pageX;
    var y = e.pageY;

    var inputFile = nextEmptyFileInput();        

    if (!(x < ooleft || x > ooright || y < ootop || y > oobottom)) {
      inputFile.offset({ top: y - 15, left: x - 100 });
    } else {
      inputFile.offset({ top: -400, left: -400 });
    }

  }, true);

  if (buttonId != "") {
    var clickZone = $("#" + buttonId);

    var oleft = clickZone.offset().left;
    var oright = clickZone.outerWidth() + oleft;
    var otop = clickZone.offset().top;
    var obottom = clickZone.outerHeight() + otop;

    $("#" + buttonId).mousemove(function (e) {

      var inputFile = nextEmptyFileInput();        

      var x = e.pageX;
      var y = e.pageY;
      if (!(x < oleft || x > oright || y < otop || y > obottom)) {
        inputFile.offset({ top: y - 15, left: x - 160 });
      } else {
        inputFile.offset({ top: -400, left: -400 });
      }
    });
  }

  document.getElementById(dropZoneId).addEventListener("drop", function (e) {
    $("#" + dropZoneId).removeClass(mouseOverClass);
  }, true);

});

$(function() {

  storeRefs = {}

  $('#store').autocomplete({
    minLength: 1,
    source: function(request, response) {
      $.getJSON('/store_lookup?' + $('#store').serialize(), null, function(data){
        $.each(data['predictions'], function(i,pred) { 
          storeRefs[pred['description']] = pred['reference'] 
        });
        var storeNames = data['predictions'].map(function(pred,i) { 
          return pred['description'] 
        });
        response(storeNames);
      });
    },
    select: function(event, ui) {
      $('#store_reference')[0].value = storeRefs[ui.item.value];
    }
  });

});


function previewFile(fileIndex) {
  var input = $('#sale_image_uploader_image_' + fileIndex)[0];

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      var previewImg = $('#img_preview_' + fileIndex);
      previewImg.attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}

function validateForm() {
  return true;

  if ($('#category_id').val() == -1) {
    alert('Please select a category.');
    return false;
  }

  if ($('#store_reference').val().length == 0) {
    alert('Please enter a store name and select one of the results from the dropdown.');
    return false;
  }

  if ($('#brand').val().length == 0) {
    alert('Please enter the brand.');
    return false;
  }

  if (!parseFloat($('#orig_price').val()) > 0) {
    alert('Please enter the original price.');
    return false;
  }

  if (!parseFloat($('#sale_price').val()) > 0) {
    alert('Please enter the sale price.');
    return false;
  }

  if (!parseFloat($('#percent_off').val()) > 0) {
    alert('Please enter the percent off.');
    return false;
  }

  if (parseFloat($('#orig_price').val()) < parseFloat($('#sale_price').val())) {
    alert('The sale price must be lower than the original price.');
    return false;
  }

  if ($('#product').val().length == 0) {
    alert('Please enter the product name.');
    return false;
  }

  if ($('#size').val().length == 0) {
    alert('Please select available sizes.');
    return false;
  }


  return true;
}

function origPriceChanged() {
  var salePrice = parseFloat($('#sale_price').val());
  var origPrice = parseFloat($('#orig_price').val());
  var percentOffBig = parseFloat($('#percent_off').val());
  var percentOff = percentOffBig / 100;

  if (salePrice > 0) {
    $('#percent_off')[0].value = Math.round((1.0 - (salePrice / origPrice)) * 100);
  } 
  else if (percentOff > 0) {
    $('#sale_price')[0].value = (origPrice * percentOff).toFixed(2);
  }
}

function salePriceChanged() {
  var salePrice = parseFloat($('#sale_price').val());
  var origPrice = parseFloat($('#orig_price').val());
  var percentOffBig = parseFloat($('#percent_off').val());
  var percentOff = percentOffBig / 100;  

  if (origPrice > 0) {
    $('#percent_off')[0].value = Math.round((1.0 - (salePrice / origPrice)) * 100);    
  }
  else if (percentOff > 0) {
    $('#orig_price')[0].value = (salePrice / (1.0 - percentOff)).toFixed(2);
  }
}

function percentOffChanged() {
  var salePrice = parseFloat($('#sale_price').val());
  var origPrice = parseFloat($('#orig_price').val());
  var percentOffBig = parseFloat($('#percent_off').val());
  var percentOff = percentOffBig / 100;  

  if (origPrice > 0) {
    $('#sale_price')[0].value = (origPrice * (1.0 - percentOff)).toFixed(2);
  }
  else if (salePrice > 0) {
    $('#orig_price')[0].value = (salePrice / (1.0 - percentOff)).toFixed(2);
  }
}


selectedSizes = []

function selectSize(size_id) {
  var sizeTd = $('#'+size_id)[0];
  if (sizeTd.className == "selectedSize") {
    sizeTd.className = "";
  } else {
    sizeTd.className = "selectedSize";
  }

  selectedSizes = $('td.selectedSize').map(function(i,td) { return td.attributes['thesize'].value })
  $('input#size')[0].value = selectedSizes.toArray().join(', ');
}

</script>



<iframe name="_image_0_iframe" id="_image_0_iframe" width="0" height="0" border="0" style="width: 0; height: 0; border: none;"></iframe>
<iframe name="_image_1_iframe" id="_image_1_iframe" width="0" height="0" border="0" style="width: 0; height: 0; border: none;"></iframe>
<iframe name="_image_2_iframe" id="_image_2_iframe" width="0" height="0" border="0" style="width: 0; height: 0; border: none;"></iframe>



<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div align="center" class="media-heading">     
    <p class="our-story"><font size="8">Upload a Sale</font></p></div><hr>



  <div class="row-fluid">

    <div class="span3"></div>

    <div class="span6">
      <center>
        <div id="dropzone" class="hero-unit">
          <div id="clickHere">

            <center><h3>Drag and drop photo here</h3></center>

            <div class="photoOr">
              or 
            </div>

            <button class="btn btn-large btn-success submit" id="selectFiles">Select Photos</button>


            <%= direct_upload_form_for @uploader_0, :html => { :target => "_image_0_iframe", :id => "image_0_form" } do |f| %>
              <%= f.file_field :image_0, :onchange => "previewFile(0)" %>
          <% end %>

            <%= direct_upload_form_for @uploader_1, :html => { :target => "_image_1_iframe", :id => "image_1_form" } do |f| %>
              <%= f.file_field :image_1, :onchange => "previewFile(1)" %>
          <% end %>

            <%= direct_upload_form_for @uploader_2, :html => { :target => "_image_2_iframe", :id => "image_2_form" } do |f| %>
              <%= f.file_field :image_2, :onchange => "previewFile(2)" %>
          <% end %>

          </div>


        </div><!-- End of hero -->
      </center>
    </div>


  </div><!-- End of row -->


  <div class="photo-upload">
    <ul class="thumbnails" style="margin-left:40px;">
      <li>
      <div class="thumbnail">
        <img id="img_preview_0" data-src="holder.js/260x180">
      </div>
      </li>
      <li>
      <div class="thumbnail">
        <img id="img_preview_1" data-src="holder.js/260x180">
      </div>
      </li>
      <li>
      <div class="thumbnail">
        <img id="img_preview_2" data-src="holder.js/260x180">
      </div>
      </li>
  </ul></div>


  <%= form_tag({:controller => "sales", :action => "create"},
               {:id => "sale_form"}) do |f| %>

               <%= hidden_field_tag "image_0_key" %>
               <%= hidden_field_tag "image_1_key" %>
               <%= hidden_field_tag "image_2_key" %>


               <div align="center">
                 <div class="row">
                   <%  categories = [["Select Category",-1]]
                   Sale.categories.each_with_index { |c,i| categories << [c,i] }  %>
                 <%= select_tag "category_id",
                   options_for_select(categories, params[:category_id]) %>
                 <br><br>
                   <div class="input-prepend">
                     <span class="add-on">Store</span>
                     <%= text_field_tag "store", params[:store], :class => "span2" %>
                     <%= hidden_field_tag "store_reference", params[:store_reference] %>
                     <br><br>

                     <span class="add-on">Brand</span>
                     <%= text_field_tag "brand", params[:brand], :class => "span2",
                       :placeholder => "E.G., John Varvatos" %>
                     <br><br>

                       <span class="add-on">Orig $</span>
                       <%= text_field_tag "orig_price", params[:orig_price], :class => "span2",
                         :onchange => "origPriceChanged()" %>
                       <br><br>

                         <span class="add-on">Sale $</span>
                         <%= text_field_tag "sale_price", params[:sale_price], :class => "span2",
                           :onchange => "salePriceChanged()" %>
                         <br><br>

                           <span class="add-on">% Off</span>
                           <%= text_field_tag "percent_off", params[:percent_off], :class => "span2",
                             :onchange => "percentOffChanged()" %>
                           <br><br>

                             <span class="add-on">Product</span>
                             <%= text_field_tag "product", params[:product], :class => "span2",
                               :placeholder => "E.G., Green Sweater" %>
                             <br><br>
                             </div>

                             <div id="hear">
                               Select Sizes<br>
                               <div class="" id="" style="max-width: 400px;">

                                 <table class="table table-bordered table-condensed" id="sizechart">            
                                   <% Sale.sizes.each_with_index do |size_row, row| %>
                                     <tr>
                                     <% size_row.each_with_index do |size, col|
                                       size_id = "size_#{row}_#{col}" %>
                                     <td theSize="<%= size %>" id="<%= size_id %>" onclick="selectSize('<%= size_id %>')">
                                         <%= size %>
                                       </td>
                                     <% end %>
                                     </tr>
                                   <% end %>          
                                   </table>

                                 </div>

                                 <br>

                                 <%= hidden_field_tag "size", params[:size], :id => "size" %>

                                 <% if @user.is_merchant %>

                                 <div class="row-fluid">
                                   <div class="span4"></div>
                                   <div class="span4 shipping" style="text-align: left;">
                                     <label class="radio">
                                       <%= radio_button_tag "does_shipping", 0, (params[:does_shipping].to_i == 0) %>
                                       No, shipping is not available for this item.
                                     </label>
                                     <label class="radio">
                                       <%= radio_button_tag "does_shipping", 1, (params[:does_shipping].to_i == 1) %>
                                       
                                       Yes, I will ship this item within the Continental U.S.
                                     </label>
                                     <br><hr>
                                     <label class="radio">
                                       <%= radio_button_tag "allow_returns", 0, (params[:allow_returns].to_i == 0) %>
                                       No, this item can not be returned.
                                     </label>
                                     <label class="radio">
                                       <%= radio_button_tag "allow_returns", 1, (params[:allow_returns].to_i == 1) %>
						  Yes, this item can be returned within (10) days of purchase.
                                     </label>
                                   </div>
                                 </div>
                               <% end %> <!-- is merchant/ship -->



                                 <br>
                                 <div class="span4"></div>
                                 <div class="" style="">
                                     <button style="margin-left:52px;" id="uploady" class="btn btn-large btn-success submit span2" onclick="return false;">Post</button>


                               </div>
                             </div>
                           </div>
                         </div>


                       <% end %>

                         <br><br>
