<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>/valydation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content=""> 
		<meta name="p:domain_verify" content="90269a038dd4c1af51dbb09519eaddfc"/>
    <!--
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    -->
	
    <%= javascript_include_tag 'application' %>    
    <%= stylesheet_link_tag 'application' %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/assets/MST_Favicon.png" type="image/png">
    <link rel="icon" href="/assets/MST_Favicon.png" type="image/png">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-38882935-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

    </script>

  </head>

  <body>
    <!-- NAVBAR-->
  <!--===============================================================-->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" data-scroll href="/"><%= image_tag 'valydation_logo.png', :height => 34, :width => 180 %></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% unless @no_header_links %>
              <li><a href="http://valydation.tumblr.com/" target="blank" >Blog</a></li>
              <li><%= link_to "About Us", "/page/about" %></li>
              
              <% end %></li>
          </ul>
        </div>
      </div>
    </div>

    
	
    
    <%= yield %>
    <!-- FOOTER-->
    <!--===============================================================-->
    <div class="bg-footer">
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-12">
            <a href="http://www.facebook.com/valydation"><img src="/assets/facebook_icon_32.png"></a>
            <a href="http://www.twitter.com/valydation"><img src="/assets/twitter_32_icon.png"></a>
            <a href="http://www.instagram.com/valydation"><img src="/assets/instagram_32.png"></a>
          </div>
        </div>
      </div>
    </div>
	  
		<!-- FOOTER-BOTTOM-->
    <!--===============================================================-->
    <div class="bg-footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p class="copyright">2013 &copy; /valydation - All Rights Reserved</p>
          </div>
          <div class="col-sm-6">
            <ul class="list-inline pull-right">
              <li class="border-right"><a href="/page/about">About Us</a></li>
              <li class="border-right"><a href="/page/privacy">Privacy</a></li>
              <li class="border-right"><a href="/page/tos">Terms of Service</a></li>
             
            </ul>
          </div>
        </div>
      </div>
    </div>


    <link href="/page/custom-css.css" media="screen" rel="stylesheet" type="text/css" />

  </body>
</html>

