<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>/valydation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content=""> 
		<meta name="p:domain_verify" content="90269a038dd4c1af51dbb09519eaddfc"/>
    <!--
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    -->
	
    <%= javascript_include_tag 'application' %>    
    <%= stylesheet_link_tag 'application' %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/assets/MST_Favicon.png" type="image/png">
    <link rel="icon" href="/assets/MST_Favicon.png" type="image/png">

    <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-38882935-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

    </script>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
					
          <center>
          <a class="brand" href="/">
            <%= image_tag 'valydation_logo.png', :height => 34, :width => 180 %>
          </a>

        </center>
		
          <div class="nav-collapse collapse">
            <ul class="nav">
              <% unless @no_header_links %>
							<li><a href="http://valydation.tumblr.com/" target="blank" >Blog</a></li>
              <li><%= link_to "About Us", "/page/about" %></li>
              <li><%= link_to "Account", new_session_url %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	
    
    <%= yield %>

	  
		<div id="footer">
		    <medium>
	       <font color="#ffffff"> 

		<p>						<div id="mc_embed_signup">
								<form action="http://valydation.us1.list-manage1.com/subscribe/post?u=7c943507de25e259ef20f783c&amp;id=b432830b69" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-search" target="_blank" novalidate>

									<input type="email" value="" name="EMAIL" class="input-block-level" placeholder="Join our mailing list!" id="mce-EMAIL">
								</div>
									<div id="mce-responses" class="clear">
										<div class="response" id="mce-error-response" style="display:none"></div>
										<div class="response" id="mce-success-response" style="display:none"></div>
									</div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn-small btn email-sign">
								</form>
								</p>
								<script type="text/javascript">
								var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
								try {
								    var jqueryLoaded=jQuery;
								    jqueryLoaded=true;
								} catch(err) {
								    var jqueryLoaded=false;
								}
								var head= document.getElementsByTagName('head')[0];
								if (!jqueryLoaded) {
								    var script = document.createElement('script');
								    script.type = 'text/javascript';
								    script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
								    head.appendChild(script);
								    if (script.readyState && script.onload!==null){
								        script.onreadystatechange= function () {
								              if (this.readyState == 'complete') mce_preload_check();
								        }    
								    }
								}
								var script = document.createElement('script');
								script.type = 'text/javascript';
								script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
								head.appendChild(script);
								var err_style = '';
								try{
								    err_style = mc_custom_error_style;
								} catch(e){
								    err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
								}
								var head= document.getElementsByTagName('head')[0];
								var style= document.createElement('style');
								style.type= 'text/css';
								if (style.styleSheet) {
								  style.styleSheet.cssText = err_style;
								} else {
								  style.appendChild(document.createTextNode(err_style));
								}
								head.appendChild(style);
								setTimeout('mce_preload_check();', 250);

								var mce_preload_checks = 0;
								function mce_preload_check(){
								    if (mce_preload_checks>40) return;
								    mce_preload_checks++;
								    try {
								        var jqueryLoaded=jQuery;
								    } catch(err) {
								        setTimeout('mce_preload_check();', 250);
								        return;
								    }
								    try {
								        var validatorLoaded=jQuery("#fake-form").validate({});
								    } catch(err) {
								        setTimeout('mce_preload_check();', 250);
								        return;
								    }
								    mce_init_form();
								}
								function mce_init_form(){
								    jQuery(document).ready( function($) {
								      var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
								      var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
								      $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
								      options = { url: 'http://valydation.us1.list-manage.com/subscribe/post-json?u=7c943507de25e259ef20f783c&id=b432830b69&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
								                    beforeSubmit: function(){
								                        $('#mce_tmp_error_msg').remove();
								                        $('.datefield','#mc_embed_signup').each(
								                            function(){
								                                var txt = 'filled';
								                                var fields = new Array();
								                                var i = 0;
								                                $(':text', this).each(
								                                    function(){
								                                        fields[i] = this;
								                                        i++;
								                                    });
								                                $(':hidden', this).each(
								                                    function(){
								                                        var bday = false;
								                                        if (fields.length == 2){
								                                            bday = true;
								                                            fields[2] = {'value':1970};//trick birthdays into having years
								                                        }
								                                    	if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
								                                    		this.value = '';
																	    } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
								                                    		this.value = '';
																	    } else {
																	        if (/\[day\]/.test(fields[0].name)){
								    	                                        this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;									        
																	        } else {
								    	                                        this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
									                                        }
									                                    }
								                                    });
								                            });
								                        return mce_validator.form();
								                    }, 
								                    success: mce_success_cb
								                };
								      $('#mc-embedded-subscribe-form').ajaxForm(options);

								              $('#mc_embed_signup').hide();
								        cks = document.cookie.split( ';' );
								        var show=true;
								        for(i=0;i<cks.length;i++){
								            parts = cks[i].split('=');
								            if( parts[0].indexOf('MCEvilPopupClosed')!= -1 ) show = false;
								        }
								        if (show){
								            $('#mc_embed_signup a.mc_embed_close').show();
								            setTimeout( function(){ $('#mc_embed_signup').fadeIn();} , 2000);
									        $('#mc_embed_signup a.mc_embed_close').click(function(){ mcEvilPopupClose();});
								        }

								        $(document).keydown(function(e){
								            if (e == null) { 
								              keycode = event.keyCode;
								            } else { 
								              keycode = e.which;
								            }
								            if(keycode == 27){
								                mcEvilPopupClose();
								            }
								        });

								        function mcEvilPopupClose(){
								            $('#mc_embed_signup').hide();
								            var now = new Date();
								            var expires_date = new Date( now.getTime() + 31536000000 );
								            document.cookie = 'MCEvilPopupClosed=yes;expires=' + expires_date.toGMTString()+';path=/';
								        }

								    });
								}
								function mce_success_cb(resp){
								    $('#mce-success-response').hide();
								    $('#mce-error-response').hide();
								    if (resp.result=="success"){
								        $('#mce-'+resp.result+'-response').show();
								        $('#mce-'+resp.result+'-response').html(resp.msg);
								        $('#mc-embedded-subscribe-form').each(function(){
								            this.reset();
								    	});
								    } else {
								        var index = -1;
								        var msg;
								        try {
								            var parts = resp.msg.split(' - ',2);
								            if (parts[1]==undefined){
								                msg = resp.msg;
								            } else {
								                i = parseInt(parts[0]);
								                if (i.toString() == parts[0]){
								                    index = parts[0];
								                    msg = parts[1];
								                } else {
								                    index = -1;
								                    msg = resp.msg;
								                }
								            }
								        } catch(e){
								            index = -1;
								            msg = resp.msg;
								        }
								        try{
								            if (index== -1){
								                $('#mce-'+resp.result+'-response').show();
								                $('#mce-'+resp.result+'-response').html(msg);            
								            } else {
								                err_id = 'mce_tmp_error_msg';
								                html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';

								                var input_id = '#mc_embed_signup';
								                var f = $(input_id);
								                if (ftypes[index]=='address'){
								                    input_id = '#mce-'+fnames[index]+'-addr1';
								                    f = $(input_id).parent().parent().get(0);
								                } else if (ftypes[index]=='date'){
								                    input_id = '#mce-'+fnames[index]+'-month';
								                    f = $(input_id).parent().parent().get(0);
								                } else {
								                    input_id = '#mce-'+fnames[index];
								                    f = $().parent(input_id).get(0);
								                }
								                if (f){
								                    $(f).append(html);
								                    $(input_id).focus();
								                } else {
								                    $('#mce-'+resp.result+'-response').show();
								                    $('#mce-'+resp.result+'-response').html(msg);
								                }
								            }
								        } catch(e){
								            $('#mce-'+resp.result+'-response').show();
								            $('#mce-'+resp.result+'-response').html(msg);
								        }
								    }
								}

								</script>
								<p style="margin-top:46px;">&copy;<%= link_to "Valydation 2013, All rights reserved.", "http://valydation.com" %> <u><a href="/page/tos">Terms of Service</a></u> and <u><a href="/page/privacy">Privacy Policy</a></u>			
		</p>
	     </font> </medium>
	    </div>

    <link href="/page/custom-css.css" media="screen" rel="stylesheet" type="text/css" />

  </body>
</html>

